*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:before, .cf:after {
content: " ";
display: table;
}

.cf:after {
clear: both;
}

.ba-container,.ba-container-center {
margin-left: auto;
margin-right: auto;
}

/* Text align */

.ba-text-left {
	text-align: left;
}

.ba-text-right {
	text-align: right;
}

.ba-text-center {
	text-align: center;
}

/* Absolute centering */

.ba-relative {
	position: relative;
}

.ba-absolute-center {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

/* Circle element */

.ba-circle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/* Flex grid */
.ba-row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
}
.ba-row + .ba-row{
	margin-top: 30px;
}
.ba-row > [class*='ba-col-']{
	padding-left: 30px;
}
.ba-row--collapse {
    margin-left: 0;
}
.ba-row--collapse + .ba-row--collapse {
    margin-top: 0;
}
.ba-row--collapse > [class*="ba-col-"] {
    padding-left: 0;
}

.ba-col-12{
	width: 100%;
}
.ba-col-11{
	width: 91.6666%;
}
.ba-col-10{
	width: 83.3333%;
}
.ba-col-9{
	width: 75%;
}
.ba-col-8{
	width: 66.6666%;
}
.ba-col-7{
	width: 58.33%;
}
.ba-col-6{
	width: 50%;
}
.ba-col-5{
	width: 41.66%;
}
.ba-col-4{
	width: 33.333%;
}
.ba-col-3{
	width: 25%;
}
.ba-col-2{
	width: 16.666%;
}
.ba-col-1{
	width: 8.3333%;
}
