* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all .1s ease-in;
    font-family: Arial, sans-serif;
}

body {background-color: #F1F1F1;}

div {font-size: 0;}

div.main {
    min-width: 771px;
    max-width: 870px;
    margin: auto;
}

div.row {
    display: inline-block;
    width: 33.3%;
}

li {
    list-style-type: none;
    margin: 3px 20px;
    background-color: #EBEBED;
    border-radius: 5px;
    height: 60px;
    color: #c2c2c2;
}

h2 {
    margin-left: 20px;
    font-size: 15px;
}

img {
    padding: 10px;
    height: 60px;
}

img.people {
    border-radius: 100%;
}

.text {
    position: relative;
    top: -36px;
    margin: 0 9px 0 60px;
    font-size: 11.5px;
    font-weight: bold;
}

.twolines {
    top: -42px;
}

input {
    border: 0;
}