* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all .1s ease-in;
    font-family: Arial, sans-serif;
}

body {background-color: #F1F1F1;}

div {font-size: 0;}

div.main {
    min-width: 771px;
    max-width: 870px;
    margin: auto;
}

div.row {
    display: inline-block;
    width: 33.3%;
}

li {
    list-style-type: none;
    margin: 3px 20px;
    background-color: #EBEBED;
    height: 60px;
    font-size: 15px;
}

h2 {
    margin-left: 20px;
    font-size: 15px;
}